pre.prettyprint {
    font-family: 'Bitstream Vera Sans Mono','Courier New',monospace;
    font-size: 12px;
}

span.pln:hover, span.typ:hover {
    text-decoration: underline;
}

textarea.comment_edit {
    width: 40em;
    height: 2.5em;
    vertical-align: top;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
}

#cursor {
}

.comment {
    color: #800;
    font-weight: bold;
}

li.highlight {
    background-color: #ffff88;
}
